html, body, .fullheight, .pane {
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

body, .pane {
    background: #F0F0F0;
}

a {
    cursor: pointer;
}

blockquote {
    padding: 0;
    border-left: none;
    border-bottom: 1px solid #E1E1E1;
}

.blockquote-single {
    border-bottom: none;
    margin-bottom: 0;
}

blockquote p {
    display: block;
    border-bottom: 1px solid #E1E1E1;
    font-style: italic;
    font-size: 14px;
    padding-bottom: 14px;
}

blockquote footer:before {
    content: '';
}

blockquote footer {
    padding-bottom: 14px;
}

.pane {
    float: left;
    width: 11.1112%;
    border: none;
}

.fullscreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.fullscreen-content {
    min-height: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.panes-col {
    height: 100%;
}

.card-nav {
    background: #FFF;
    margin: 50px 14px 50px 39px;
    padding: 10px;
}

.card-nav-sublist {
    margin-left: 28px;
}

.touch .pane-scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 900%;
    height: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

.touch .card-scroller {
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding-bottom: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

.card-list {
    width: 100%;
    height: 100%;
    position: relative;
}

h2 small {
    margin-top: 4px;
    display: block;
}

.panes-col {
    padding: 0;
}

.card-list {
    margin: 0;
}

.card {
    padding: 0;
}

.chart {
    max-width: 400px;
    margin: 1em auto;
}

.parallax-panes {
    height: 100%;
    width: 100%;
}

.pane-list {
    height: 100%;
    width: 100%;
}

.parallax-panes.pane .pane-list {
    height: auto;
}

.parallax-panes.pane .pane-list .pane {
    width: 100%;
    float: none;
}

@media (min-width: 992px) {
    .fullscreen {
        top: 50px;
    }

    .navbar {
        z-index: 10;
        border-radius: 0;
        margin-bottom: 0;
    }

    .navbar-brand {
        line-height: 24px;
        padding: 10px 15px;
    }

    .navbar-brand img {
        height: 24px;
    }
}

.notouch {
    position: relative;
    float: none;
    overflow: auto;
    width: 100%;
    top: auto;
    bottom: auto;
}

.notouch .card-list {
    max-width: 550px;
    margin: 0 auto;
}

.pane.notouch {
    background: transparent;
}

.notouch .spot-content {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: none;
}

.notouch #slide-1 .spot-content {
    background-image: url('../img/bg.jpg');
}

.notouch #slide-2 .spot-content {
    background-image: url('../img/spot/steinsfurt.desktop.jpg');
}

.notouch #slide-3 .spot-content {
    background-image: url('../img/spot/fuerfeld.desktop.jpg');
}

.notouch #slide-4 .spot-content {
    background-image: url('../img/spot/neckartalbruecke.desktop.jpg');
}

.notouch #slide-5 .spot-content {
    background-image: url('../img/spot/weinsberger_kreuz.desktop.jpg');
}

.notouch #slide-6 .spot-content {
    background-image: url('../img/spot/hohenlohe.desktop.jpg');
}

.notouch #slide-7 .spot-content {
    background-image: url('../img/bg_fazit.desktop.jpg');
}

.notouch #slide-8 .spot-content {
    background-image: url('../img/bg.jpg');
}

.notouch .card-scroller {
    padding: 0;
    height: 100%;
}

.notouch .card {
    opacity: 1;
}

.notouch #slide-0 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: left 500ms ease-in-out;
}

#slide-0.off {
    left: -100%;
}

#slide-1.notouch {
    padding-top: 50px;
}

.notouch .pane {
    height: 2800px;
}

.notouch .card-teaser {
    padding: 50px 16px 16px 16px;
}

.notouch .spot-title-container {
    display: none;
}

.notouch .spot-title-map {
    background: rgba(0, 0, 0, 0.8);
}

.notouch #fazit-teaser {
    visibility: hidden;
}