html, body, .fullheight, .pane {
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

body, .pane {
    background: #F0F0F0;
}

a {
    cursor: pointer;
}

.pane {
    float: left;
    width: 12.5%;
    border: none;
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.fullscreen-content {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.panes-col {
    height: 100%;
}

.navbar {
    border-radius: 0;
}

.card-nav {
    background: #FFF;
    margin: 50px 14px 50px 39px;
    padding: 10px;
}

.card-nav-sublist {
    margin-left: 28px;
}

.pane-scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 800%;
    height: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

.card-scroller {
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding-bottom: 50px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

.card-list {
    width: 100%;
    height: 100%;
    position: relative;
}

h2 small {
    margin-top: 4px;
    display: block;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    line-height: 24px;
    padding: 10px 15px;
}

.navbar-brand img {
    height: 24px;
}

@media (min-width: 992px) {
    .panes-col {
        padding: 50px 50px 100px 0;
    }

    /* .pane {
        background: none;
    }
    body {
        background: url('../img/bg.jpg');
        background-position: bottom;
    } */
}

@media (max-width: 991px) {
    .panes-col {
        padding: 0;
    }

    .card-list {
        margin: 0;
    }

    .card {
        padding: 0;
    }
}