body {
    background: url('../img/bg.jpg') center bottom/cover;
}

.pane {
    background: none;
}

.panes {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.spot-content, .pane-content {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: scroll;
    padding: 50px 10% 50px 35%;
}

.navbar {
    z-index: 10;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    line-height: 24px;
    padding: 10px 15px;
}

.navbar-brand img {
    height: 24px;
}

#spot-nav {
    position: fixed;
    top: 100px;
    left: 50px;
    width: 25%;
    z-index: 20;
}

.spot-nav-map {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    margin-bottom: 14px;
}

.spot-list li {
    color: #FFF;
    display: block;
    margin-bottom: 14px;
    cursor: pointer;
    position: relative;
}

.spot-list p {
    display: inline-block;
}

.spot-accident-icon {
    width: 40px;
    margin-right: 7px;
}

.card-list {
    background: #FFF;
    padding: 36px;
    max-width: 500px;
}

.spot-text h2 {
    margin: 4px 0 1em 0;
}

.spot-text img {
    width: 100%;
}

.explain-slide-right {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 300px;
    color: #FFFF00;
}