#welcome-screen {
    height: 100%;
    position: relative;
}

.row-intro-bg {
    height: 50%;
    margin: 0;
}

.row-intro-bg div {
    height: 100%;
}

.intro-bg-top,
.intro-bg-bottom {
    position: absolute;
    left: 0;
    width: 100%;
    height: 37.5%;
}

.intro-bg-top {
    top: 0;
}

.intro-bg-bottom {
    bottom: 0;
}

.intro-bg-1 {
    background-image: url('../img/intro/hohenlohe.jpg');
}

.intro-bg-2 {
    background-image: url('../img/intro/kraichgau.jpg');
}

.intro-bg-3 {
    background-image: url('../img/intro/unfall.jpg');
}

.intro-bg-4 {
    background-image: url('../img/intro/neckartalbruecke.jpg');
}

.intro-bg-5 {
    background-image: url('../img/intro/reichtert.jpg');
}

.intro-bg-6 {
    background-image: url('../img/intro/weinsberg.jpg');
}

.intro-bg-7 {
    background-image: url('../img/intro/fuerfeld.jpg');
}

.intro-bg-8 {
    background-image: url('../img/intro/unfall2.jpg');
}

.intro-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-box {
    position: absolute;
    height: 26%;
    width: 100%;
    top: 37%;
    left: 0;
    background: url('../img/intro/bg_yellow.jpg');
    color: #FFF;
    display: table;
}

.intro-text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 100px;
}

.intro-text h1,
.intro-text span {
    opacity: 0.8;
    display: inline-block;
    vertical-align: middle;
}

.intro-text h1 {
    font-weight: normal;
    margin-top: 0;
}

.explain-slide {
    position: absolute;
    right: 10px;
    top: 7.5%;
    height: 85%;
    animation: inout 5s;
    animation-iteration-count: infinite;
    -webkit-animation: inout 5s; /* Safari & Chrome */
    -webkit-animation-iteration-count: infinite;
}

@keyframes inout {
    0% {
        transform: translate(0, 0);
    }
    80% {
        transform: translate(0, 0) scale(1, 1);
    }
    90% {
        transform: translate(10%, 0) scale(1.15, 1.15);
    }
    100% {
        transform: translate(0, 0) scale(1, 1);
    }
}

@-webkit-keyframes inout {
    /* Safari & Chrome */
    0% {
        -webkit-transform: translate(0, 0);
    }
    80% {
        -webkit-transform: translate(0, 0) scale(1, 1);
    }
    90% {
        -webkit-transform: translate(10%, 0) scale(1.15, 1.15);
    }
    100% {
        -webkit-transform: translate(0, 0) scale(1, 1);
    }
}