.intro {
    background-color: #1A1A1A;
}

.intro .fullscreen-content {
    max-width: 650px;
    background: url('../img/intro/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.intro-spots {
    height: 80%;
    padding: 17px;
}

.intro-spots img {
    display: block;
    height: 20%;
    padding: 10px;
    margin: 0 auto;
}

@media (max-height: 720px) {
    .intro-spots img {
        padding: 8px;
    }
}

@media (max-height: 450px) {
    .intro-spots img {
        padding: 4px;
    }
}

.intro-start {
    height: 20%;
    padding-top: 17px;
    border-top: 1px solid #DCDDDC;
}

.intro-start img {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: block;
    height: 100%;
    margin: 0 auto;
}

.intro h1 {
    position: absolute;
    color: #FFF;
    width: 100%;
    text-align: center;
    font-size: 18px;
    top: 4px;
    margin: 0;
}