html, body, .app-view, #carousel, #carousel ul, #carousel li {
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    font-family: 'Quicksand', sans-serif;
}